.about {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.section__title--about {
  margin: 0;
}

.section__title--about::after {
  content: "";
  display: block;
  width: 4.5em;
  height: 1px;
  background: var(--clr-accent);
}

@media (min-width: 1000px) {
  .about {
    margin: 0 auto;
  }

  .section__div--about {
    display: flex;
    padding: 4rem;
  }

  .section__title--about {
    margin-left: 6.5rem;
    padding-top: 2rem;
  }

  .section__img--about {
    float: right;
    max-width: 500px;
    padding-right: 1.5rem;
  }

  .section__body--about {
    font-size: var(--fs-h3);
    padding: 1.5rem;
    margin: 1.5rem;
  }

  .section__title--about::after {
    content: "";
    display: block;
    width: 4.5em;
    height: 1px;
    margin-top: 0.5em;
    background: var(--clr-accent);
  }
}
